.ui-new-list,
.ui-new-height-list {
	width: auto;
	display: block;
	overflow: hidden;
	height: auto;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	margin-bottom: 10px;
	position: relative;
	background-color: #fff;
}

.ui-new-list .ui-new-list-item,
.ui-new-height-list .ui-new-list-item{
	display: block;
	min-height: 45px;
	width: 100%;
	line-height: 45px;
	font-size: 15px;
	position: relative;
	overflow: hidden;
	padding: 0 15px;
	-webkit-touch-callout: none
}
.ui-new-height-list .ui-new-list-item{
	height: 68px;
}
.ui-new-list .ui-new-list-item a,
.ui-new-height-list .ui-new-list-item a{
	text-decoration: none;
	color: inherit;
	width:100%;
	height: 100%;
	display: block;
	margin-left: -15px;
	text-indent: 15px;
}
.ui-new-height-list .ui-new-list-item .list-content{
	display: inline-block;
	text-indent: 0;
	width: 68%;
}
.ui-new-height-list .ui-new-list-item .list-content p{
	margin: 0;
	padding: 0;
}
.ui-new-height-list .ui-new-list-item .list-content .title{
	font-size: 16px;
	color: #333;
	line-height: 44px;
}
.ui-new-height-list .ui-new-list-item .list-content .con{
	font-size: 12px;
	color: #9c9c9c;
	line-height: 14px;
	height: 14px;
	width: 95%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	
}
.ui-new-list .ui-new-list-item.active,
.ui-new-list .ui-new-list-item:active,
.ui-new-list .ui-new-list-item a:active{
	background-color: #f2f2f2;
}
.ui-new-list .ui-new-list-item img{
	width: 23px;
	height: 23px;
	vertical-align: middle;
	padding-right: 15px;
}
.ui-new-height-list .ui-new-list-item img{
	height: 50px;
	width: 50px;
	display: inline-block;
	padding-right: 5px;
	float: left;
	margin-top: 9px;
	margin-left: 15px;
}
.ui-new-height-list .ui-new-list-item:before,
.ui-new-list .ui-new-list-item:before {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 15px;
	height: 1px;
	content: '';
	background-color: #ccc;
}
.ui-new-list .ui-new-list-item:last-child:before,
.ui-new-height-list .ui-new-list-item:last-child:before {
	height: 0
}
.ui-new-list .ui-new-item-icon:after,
.ui-new-height-list .ui-new-item-icon:after {
	display: inline-block;
	font-size: inherit;
	text-rendering: auto;
	right: 43px;
	top: 50%;
	margin-top: -6.5px;
	width: 8px;
	height: 13px;
	background: url(../img/icon-right.png);
	background-size: 100% 100%;
	content: "";
	position: absolute;
	color: #787878;
}
/*.ui-new-list-item.disabled,
.ui-new-list-item.disabled:focus,
.ui-new-list-item.disabled:hover {
	color: #777;
	background-color: #eee;
	cursor: default;
}*/